Django==1.9.9
boto==2.42.0
dj-database-url==0.4.1
django-classy-tags==0.8.0
django-password-reset==0.9
django-redis-cache==1.7.0
django-sekizai==0.10
django-ses==0.8.1
django-storages==1.5.1
django-tagging==0.4.5
envdir==0.7
geopy==1.11.0
gevent==1.1.2
greenlet==0.4.10
gunicorn==19.6
psycopg2==2.6.2
python3-openid==3.0.10
pytz==2016.6.1
raven==5.26.0
redis==2.10.5
requests==2.11.1
