Django==1.7.11
boto==2.42.0
dj-database-url==0.4.1
django-classy-tags==0.7.2
django-password-reset==0.9
django-redis-cache==1.6.5
django-secure==1.0
django-sekizai==0.7
django-ses==0.8
django-storages==1.1.8
django-tagging==0.3.3
envdir==0.7
geopy==0.98
gevent==1.1.2
greenlet==0.4.10
gunicorn==19.6
psycopg2==2.6.2
python-openid==2.2.5
pytz==2016.6.1
raven==5.23.0
redis==2.10.5
requests==2.2.1
