Django==1.9.8
boto==2.42.0
dj-database-url==0.4.1
django-classy-tags==0.7.2
django-password-reset==0.9
django-redis-cache==1.6.5
django-sekizai==0.9
django-ses==0.8
django-storages==1.5
django-tagging==0.4.3
envdir==0.7
geopy==1.11.0
gevent==1.1.2
greenlet==0.4.10
gunicorn==19.6
psycopg2==2.6.2
python3-openid==3.0.10
pytz==2016.6.1
raven==5.24.3
redis==2.10.5
requests==2.11
