{% extends "base.html" %}
{% load static humanize %}

{% block title %}{% trans "About" %} |{% endblock %}

{% block nav_li_class_about %} class="current"{% endblock %}>

{% block header%}
	<h1>{% trans "About Django People" %}</h1>
{% endblock %}

{% block content %}
<div class="about">
	<p>{% blocktrans with count=total_people countries=countries|length|apnumber %}Django People lists {{ count }} <a href="https://www.djangoproject.com/">Django</a> developers from around the world, in {{ countries }} different countries. The aim of the site is to help Django developers find like-minded souls near them, and hopefully kick-start some local meet-ups and user groups.{% endblocktrans %}</p>

	<p>{% blocktrans %}The site was originally built and open-sourced by <a href="/simon/">Simon Willison</a> and <a href="/natbat/">Natalie Downe</a>. The code is <a href="https://github.com/django/djangopeople">available on github</a>. You can post feedback and bug reports on the repository's <a href="https://github.com/django/djangopeople/issues">issues page</a>.{% endblocktrans %}</p>

	<h2>{% trans "Colophon" %}</h2>

	<p>{% blocktrans %}Country data and location lookups come from
	<a href="http://www.geonames.org/">GeoNames</a>, while the maps themselves
	are from <a href="http://www.openstreetmap.org">OpenStreetMap</a> and
	powered by <a href="http://leaflet.cloudmade.com/">Leaflet</a>. Country
	flags and icons are by <a href="http://famfamfam.com/lab/icons/">Mark
	James</a> and <a href="http://flag-icon-css.lip.is/">Flag Icon CSS</a>; US
	state flags come <a href="http://en.wikipedia.org/wiki/Flags_of_the_U.S._states"
	title="Flags of the U.S. states">from Wikipedia</a>. Profile pictures come
	from <a href="http://en.gravatar.com/">Gravatar</a>.{% endblocktrans %}</p>

	<p>{% blocktrans %}Deployment is <a href="http://gunicorn.org">gunicorn</a>, hosted on <a href="http://www.heroku.com/">Heroku</a>.{% endblocktrans %}</p>

	<p><a href="https://www.djangoproject.com/"><img src="{% static "djangopeople/img/djangojoint.gif" %}" border="0" alt="{% trans "A Django joint." %}" title="{% trans "A Django joint." %}"></a></p>
</div>
{% endblock %}
